@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 4em;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 0.625em;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  /* border: 2px solid skyblue; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 3.5em;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.3em;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #777;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
  /* border: 2px solid magenta; */
}

.heading p {
  color: #828282;
}

.form {
  width: 70%;
  margin: 0 auto;
  /* border: 2px solid gold; */
}

.form-group {
  margin-bottom: 1em;
}

.form-group-label {
  margin-bottom: 0.25em;
  margin-left: 0.25em;
}

.form-group-input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 0.625em;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.btn {
  padding: 0.625em 1.25em;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

.btn:hover {
  transform: scale(0.98);
}

.logout-btn {
  display: flex;
  gap: 0.35em;
  align-items: center;
}

.content {
  width: 70%;
  margin: 0 auto;
  /* border: 2px solid greenyellow; */
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.goal {
  background-color: #f4f4f4;
  padding: 1.25em;
  text-align: center;
}

.goal-text {
  font-weight: 600;
  font-size: 1.25rem;
}

.goal-action-icons {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.15em;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .form {
    width: 90%;
  }

  .content {
    width: 90%;
  }

  .heading,
  .goal-text {
    font-size: 1rem;
  }

  .form-group-input,
  .btn {
    font-size: 0.85rem;
  }
}
